/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,400;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,100;1,500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,400;1,300;1,400;1,500&display=swap');
*
{
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
}
body
{
    
    margin: 0px;
    overflow-x:hidden;
}
::-webkit-scrollbar 
{
    width: 6px;
    height:6px;
    background-color: #ccc;
    border-radius: 10px;

}

/* Thumb */
::-webkit-scrollbar-thumb 
{
    background-color: #00baf2;
    border-radius: 5px;
}

::-webkit-scrollbar-track
{
    background-color: #fff;
    border-radius: 5px;
}

.container
{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    height:92px;
    width:100%;
    background-color: rgba(255,255,255,1);
    box-shadow: rgba(0, 41, 112, 0.2) 0px 5px 20px;
}
.util
{
    text-decoration: none;
    color: rgba(0,0,0,1);
    font-weight: 600;
}
/* .logocontainer
{
    display: flex;bor
    border:1px solid black;
} */
.logo{
    width:170px;
}
.listcontainer{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
.listcontainer li 
{
    list-style-type: none;
}
.listcontainer li a {
    text-decoration: none;
    color:rgba(0,0,0,1);
    margin:20px;
    font-size:17px;
    text-align: left;
    font-weight: 600;
    background:none;
}
.listcontainer li a:hover{
    font-size: 18px;;
}
.signup{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.user a{
    margin-left:10px;
}
.signup{
    background-color: #00baf2;
    border-radius: 50%;
    width:fit-content;
    height:fit-content;
    border-radius: 20px;
    padding:2px 2px 2px 20px;
    color:#fff;
    font-size: 15px;
}
.signup:hover
{
    background-color: #002970;
    cursor: pointer;
}
.user img{
    margin-right:2px;
    margin-top: 1px;

}
.plntxt
{
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    height:48px;
}
.emoji
{
    font-size: 25px;
}
.logo2
{
    width: 80px;
    height:80px;
    font-size:14px;
}
.section2{
    display: flex;
    padding:50px;
}
.phones
{
    width:100%;;
    padding-top: 30px;
    padding-left: 40px;
}
.sec2 
{
    display:flex;
    flex-direction: column;
    margin-left: 8px;
    padding-top:50px;
}
.heading1
{
    font-size: 3.2rem;
    padding-top:40px;
    text-align: start;
}

.container3
{
    display: flex;
}
.para2
{
    font-size: 1.3rem;
    text-align: start;
    width: 70%;
    height:100px;
    padding-top: 10px;
}
.imgcontainer
{
    display: flex;
    position: fixed;
    transform: translate();
    
}
.down
{
    background-color: black;
    color:#fff;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    padding:0 24px 0 24px;
    font-size: 15px;
    width:203px;
    height:44px;
    border-radius: 50px;
}
.down:hover
{
    color:rgba(0,0,0,1);
    background-color: rgba(255,255,255,1);
    border:1px solid black;
}

.recharge
{
    display: block;
    overflow:auto;
    background:#00baf2;
    margin: auto;
    width: 100%;
    height: 324px;
    padding: 65px 0;
    overflow: scroll;
    scrollbar-color: #00baf2;
}

.recharge h1
{
    font-size: 36px;
    color: #fff;
    margin-left: 110px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.recharge .flex7
{
    display: flex;
    width: 1260px;
    height: 183px;
    margin-top: 25px;
    margin-left: 110px;
    overflow-x: hidden;
}

.recharge .flex7 .box1
{
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-right: -1px;
    margin-bottom: 14px;
    cursor: pointer;
    border-radius: 12px;
    padding: 16px 11px 16px 16px;
    justify-content: space-between;
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    line-height: 25px;
}

.recharge .flex7 .box1 img
{
    width: 64px;
    margin-bottom: 17px;
    background: #fff;
    border-radius: 100%;
}

.recharge .flex7 :hover
{
    background: #00a4e3;
    margin-bottom: -20px;
    transition: all .2s ease-in-out;
}

.instrument
{
    display: block;
    position: relative;
    width: 1530.4px;
    height: 761px;
    background: #f5f7fa;
    padding-top: 120px;
    padding: 1 0 48px;
}

.instrument h1
{
    width: 1170px;
    margin: 0 auto 35px;
    font-size: 48px;
    color: #000;
    font-weight: 700;
    line-height: 50px;
}

.instrument .ban1
{
    display: block;
    width: 1170px;
    height: 620px;
    background: #fff;
    margin: auto;
    z-index: 1;
    position: relative;
    border-radius: 10px;
}

.instrument .ban1 .fast
{
    display: flex;
    width: 1170px;
    height: 620px;
    align-items: center;
    /* justify-content: space-between; */
    padding: 80px 50px 80px 115px;
}

.instrument .ban1 .fast .wallet
{
    display: block;
    width: 45%;
    font-size: 16px;
    font-weight: 700;
    margin-top: -155px;
}

.instrument .ban1 .fast .wallet .wallie
{
    width: 175px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.instrument .ban1 .fast .wallet .wallie img
{
    height: 77px;
    width: auto;
    padding-right: 12px;
}

.instrument .ban1 .fast .wallet2
{
    display: block;
    margin-top: 48px;
    font-size: 36px;
    font-weight: 600;
    line-height: 46px;
}

.instrument .ban1 .fast .wallet2 h1
{
    margin-top: 48px;
    /* width: 390px; */
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 0;
}

.instrument .ban1 .fast .wallet2 span
{
    padding: 24px 0 30px;
    display: block;
    font-size: 17px;
    font-weight: 500;
    line-height: 26px;
}


.instrument .ban1 .fast .wallet .downloadpay
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    line-height: 1px;
    padding: 0 24px;
    margin-top: 6px;

    width: 253.29px;
    height: 45.6px;
    border: 1px solid black;
    border-radius: 50px;

    background: black;
    color: white;
    font-weight: 500;
    font-size: 15px;
}
.downloadpay:hover{
    background-color: rgba(255,255,255,1);
    cursor: pointer;
}

.paybank
{
    /* display: block; */
    display: flex;
    justify-content: space-between;
    background: #f5f7fa;
    width: 100%;
    height: 728px;
    margin: auto;
    padding: 0 0 130px;
    /* flex-direction: row; */
}

.paybank .bank1
{
    display: block;
    background: #fff;
    border-radius: 16px;
    padding: 70px 64px 0;
    margin-right: 48px;
    margin-left: 180px;
    position: relative;
    width: 561px;
    height: 630px;
}

.paybank .bank1 h1
{
    padding-top: 28px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #000;
}

.paybank .bank1 p
{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.paybank .bank2
{
    display: block;
    background: #fff;
    border-radius: 16px;
    padding: 70px 64px 0;
    margin-right: 208px;
    position: relative;
    width: 561px;
    height: 630px;
}

.paybank .bank2 h1
{
    padding-top: 28px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    color: #000;
}

.paybank .bank2 p
{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.finance
{
    background: #fff;
    position: relative;
    display: block;
    padding: 0 0 48px;
}

.finance h1
{
    padding-top: 120px;
    width: 1170px;
    margin: 0 auto 35px;
    font-size: 48px;
    color: #000;
    font-weight: 700;
    line-height: 50px;
}

.sincere
{
    display: block;
    background: #fff;
    padding-bottom: 72px;
    border-radius: 10px;
    width: 1170px;
    margin: auto;
    z-index: 1;
    position: relative;
}

.sincere .finger
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 !important;
}

.sincere .finger .fingerleft
{
    display: block;
    width: 40%;
    font-size: 16px;
    font-weight: 700;
}

.sincere .finger .fingerleft h1
{
    display: block;
    margin-top: -75px;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}

.sincere .finger .fingerleft p
{
    padding-top: 12px;
    display: block;
    width: 515px;
    margin-bottom: 45px;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
}

.sincere .finger .fingerleft span
{
    background: #002970;
    padding: 16px 24px;
    border-radius: 25px;
    width: 120px;
    cursor: pointer;
    position: relative;
    display: flex;
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    line-height: 18px;
}

/* ========================================================== */
.finance2
{
    background: #f5f7fa;
    background-image: url("./assets/asset 32.avif");
    background-size: cover;
    position: relative;
    display: block;
    padding: 0 0 48px;
}

.sincere2
{
    display: block;
    background: transparent;
    padding-bottom: 72px;
    border-radius: 10px;
    width: 1170px;
    margin: auto;
    z-index: 1;
    position: relative;
}

.sincere2 .finger2
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 !important;
}

.sincere2 .finger2 .fingerright
{
    display: block;
    width: 40%;
    font-size: 16px;
    font-weight: 700;
    margin-top: 110px;
}

.sincere2 .finger2 .fingerright h1
{
    display: block;
    margin-top: 23px;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}

.sincere2 .finger2 .fingerright p
{
    padding-top: 12px;
    display: block;
    width: 515px;
    margin-bottom: 45px;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
}

.sincere2 .finger2 .fingerright span
{
    background: #002970;
    padding: 16px 24px;
    border-radius: 25px;
    width: 120px;
    cursor: pointer;
    position: relative;
    display: flex;
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    line-height: 18px;
}

.business
{
    display: block;
    background: #fff;
    width: 1170px;
    margin: auto;
    padding: 50px 0;
}

.business h1
{
    padding-bottom: 89px;
    width: 480px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

.business .smallbox
{
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.business .smallbox .sbox1
{
    display: block;
    width: 21.5%;
    margin-right: 70px;
}

.business .smallbox .sbox1 h1
{
    display: block;
    padding: 40px 0 20px;
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
}

.business .smallbox .sbox1 p
{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.wealth
{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;

    background: #fff;
    border-radius: 10px;
    padding: 60px 0 60px 60px;
    margin-bottom: 33px;
    display: flex;
}

.wealth .wealthleft
{
    width: 200px;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.wealth .wealthleft img
{
    display: flex;
    align-items: center;
    width: 160px;
    height: 58px;
    padding-right: 10px;
}

.wealth .wealthleft p
{
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}

.wealth .rightwealth
{
    /* display: block; */
    width: 870px;
    position: relative;

    display: flex;
    overflow: scroll;
    white-space: nowrap;
}

.wealth .rightwealth .wbox1
{
    padding-right: 36px;
    white-space: nowrap;
}

.wealth .rightwealth .wbox2
{
    border-radius: 10px;
    background: #00baf2;
    opacity: .7;
    padding: 5px 0;
    white-space: normal;
    text-align: center;
    cursor: pointer;
    width: 155px;
    height: 230px;
    min-width: 155px;
    min-height: 230px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wealth .rightwealth .wbox2 img
{
    overflow: hidden;
    border-radius: 6px;
    z-index: 1;
    width: 145px;
    height: 158px;
    transition: .3s;
}

.wealth .rightwealth .wbox2 span
{
    padding: 16px 0;
    display: block;
    width: 114px!important;
    font-size: 17px;
    color: #fff;
    font-weight: 700;
}

.wealth .rightwealth .wbox2:hover
{
    opacity: 1;
}

/* ============ Footer =========================== */
.div18 h3 
{
    padding-top: 7%;
    padding-left: 6%;
    padding-right: 2%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.div18 
{
    display: flex;
    background: #f5f7fa;;
}
.div18 a 
{
    padding-top: 6%;
    padding-right: 1%;
}
.div18 div 
{
    display: flex;
    padding-top: 6.5%;
    padding-left: 30%;
    font-size: 1.5rem;
}
.div18 div a 
{
    color: grey;
    padding-left: 70%;
}
.line 
{
    padding: 0% 40.1%;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.4);
    border-bottom-style: solid;
    margin-left: 1%;
}
.div19 
{
    padding: 6% 2% 10% 5%;
    background: #f5f7fa;
}
.l1 
{
    margin: 0%;
    padding: 0.5%;
    background-color: rgb(2, 191, 253);
}
.l2 
{
    margin: 0%;
    padding: 0.5%;
    background-color: rgb(1, 1, 110);
}